
.btn_img{
    position: relative;
    display: inline-block;
    float:left;
    margin-top:10px;
    margin-bottom:20px;
    margin-left:20px;
    width: 100px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    vertical-align: center;
    border: 1px solid #1a4bff;
    background-color: #358bec;
    color:#fff;
    border-radius: 3px;
}
.btn_img:hover{
    border: 1px solid #1a4bff;
    background-color: #358bec;
}
.btn_img input{
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}