<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>前景识别</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='pic.svg') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery-3.3.1.js') }}"></script>
    <script src="{{url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{url_for('static', filename='echarts/dist/echarts.min.js') }}"></script>
</head>
<body>
{% for message in get_flashed_messages() %}
    <div class="alert">
        {{ message }}
    </div>
{% endfor %}

    <div class="container" style="width: 80%">
        <div class="row" name="nav">
            <div class = "col-md-12" style="background-color:white;">
                <nav class="navbar navbar-default" style="margin-bottom:5px;margin-top:10px" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">首页</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">更多</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row" name="main">
            <div class = "col-md-2" style="background-color:white;height: 300px">

                <nav class="navbar navbar-default" id="sidebar-wrapper" role="navigation">
                  <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                    <li>
                      <a href="http://127.0.0.1:5000"><span class="glyphicon glyphicon-upload"></span>识别图片</a>
                    </li>
                    <li><a href="http://127.0.0.1:5000/history-filename"><span class="glyphicon glyphicon-repeat"></span>历史记录 </a></li>
                  </ul>
                </nav>
            </div>
            <div class = "col-md-7" style="background-color:white;">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        识别图片
                    </div>
                    <div class="panel-body">
                        <div name="imgButtons" style="text-align:center;">
                            <!--<form method="post" action="http://localhost:5000/upload" enctype="multipart/form-data">-->
                            <form method="post" enctype="multipart/form-data" id="img_form">
                                <label type="button" class="btn_img">
                                    <span>选择图片</span>
                                    <input type="file" name="photo" id="photo">
                                </label>
                                <!--<input type="submit" value="提交图片" class="btn_img"/>-->
                                <input type="button" value="提交图片" class="btn_img" onclick="ajaxImgForm()"/>
                            </form>
                            <script>
                                function ajaxImgForm(){
                                    var imgForm= new FormData(document.getElementById("img_form"));
                                    $.ajax({
                                        url:"{{ url_for('upload') }}",
                                        type:"post",
                                        data:imgForm,
                                        dataType: 'json',
                                        processData:false,
                                        contentType:false,
                                        success:function(data){
                                            if (data.success == 200){
                                                $("#alertDiv").empty()
                                                var alertVar = $("<div id=\"successAlert\" style=\"margin-bottom: 0px\" class=\"alert alert-success alert-dismissible\" role=\"alert\">" +
                                                    "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>" +
                                                    "上传成功</div>");
                                                $("#alertDiv").append(alertVar)
                                                $("#Img").attr("src",data.img_url);
                                                $("#ImgResult").attr("src","");
                                            }else{
                                                $("#alertDiv").empty()
                                                var alertVar = $("<div id=\"dangerAlert\" style=\"margin-bottom: 0px\" class=\"alert alert-danger alert-dismissible\" role=\"alert\">" +
                                                        "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>" +
                                                        "请先上传图片</div>");
                                                $("#alertDiv").append(alertVar)
                                            }
                                        },
                                        error:function(e){
                                                alert(e.responseText);
                                        }
                                    })
                                }
                            </script>
                            <button type="button" class="btn_img" onclick="detectImg()">检测</button>
                            <script>
                                function detectImg(){
                                    if (($("#Img").attr("src")).length == 0){
                                        $("#alertDiv").empty()
                                        var alertVar = $("<div id=\"dangerAlert\" style=\"margin-bottom: 0px\" class=\"alert alert-danger alert-dismissible\" role=\"alert\">" +
                                                "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>" +
                                                "请先上传图片</div>");
                                        $("#alertDiv").append(alertVar)
                                    }else{
                                        $("#alertDiv").empty()
                                        var alertVar = $("<div id=\"infoAlert\" style=\"margin-bottom: 0px\" class=\"alert alert-info alert-dismissible\" role=\"alert\">" +
                                                "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>" +
                                                "请稍等</div>");
                                        $("#alertDiv").append(alertVar)
                                        var imgSrc = $("#Img").attr("src");
                                        $.ajax({
                                            url:"/detectImg",
                                            type:"post",
                                            data: JSON.stringify({"imgSrc":imgSrc}),
                                            dataType: 'json',
                                            processData:false,
                                            contentType:false,
                                            success:function(data){
                                                $("#alertDiv").empty()
                                                var alertVar = $("<div id=\"successAlert\" style=\"margin-bottom: 0px\" class=\"alert alert-success alert-dismissible\" role=\"alert\">" +
                                                    "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button>" +
                                                    "检测成功</div>");
                                                $("#alertDiv").append(alertVar);

                                                $("#ImgResult").attr("src", data.resultImgUrl);

                                                //g,表示全部替换。
                                                var itemsStr2 = (data.itemsNum).replace(/\'/g,"\"");
                                                var itemsJson = JSON.parse(itemsStr2);
                                                for (var i=0; i < itemsJson.length;i++){
                                                    $("#tableItem").append("<tr><td>"+itemsJson[i].name+"</td><td>"+itemsJson[i].num+"</td></tr>");
                                                }

                                                var itemsAreaStr2 = (data.itemsArea).replace(/\'/g,"\"");
                                                var itemsAreaJson = JSON.parse(itemsAreaStr2);

                                                itemChart.setOption({
                                                    series: [{
                                                        data:(function(){
                                                            var arrItems = [];
                                                            for (var i=0; i < itemsAreaJson.length;i++){
                                                                //alert(item.name);
                                                                arrItems.push({
                                                                    name:itemsAreaJson[i].name,
                                                                    value:itemsAreaJson[i].area
                                                                });
                                                            }
                                                            return arrItems;
                                                        })()
                                                    }]
                                                });
                                                //itemChart.hideLoading();
                                            },
                                            error:function(e){
                                                alert(e.responseText);
                                            }
                                        })
                                    }

                                }
                            </script>
                        </div>
                        <div style="float:left;margin-left: 10px" id="alertDiv">
                        </div>
                        <div style="float:left;clear:both;">
                            {#{% block img %}#}
                            {#{% endblock %}#}
                            <img id="Img" src="" style="float:left;max-width:600px;min-height: 400px;margin-bottom: 20px">
                            <img id="ImgResult" src="" style="float:left;max-width:600px;min-height: 400px">
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-3" style="background-color:white;">
                <div class="row" style="background-color: #1a4bff">
                    <div class = "col-md-12" style="background-color:white;">
                        <div class="panel panel-default">
                            <div class="panel-heading">物体</div>
                            <table class="table" id="tableItem">
                                <th>物体记录</th><th>占图百分比 </th>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" style="background-color: white">
                    <div class = "col-md-12" style="background-color:white;">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h3 class="panel-title">饼图</h3>
                          </div>
                          <div class="panel-body">
                            <div id="echart1" style="width:250px;height: 250px;">
                                <script type="text/javascript">
                                    var option = {
                                            series: {
                                                type: 'pie',
                                                radius:[0,'35%'],
                                                selectedMode:"single",
                                                data: [

                                                ],
                                                label: {
                                                  normal: {
                                                    formatter: "{per|{d}%}\n{a|{b}}\n{hr|}", //百分比之后换行显示文字
                                                    rich: {
                                                      a: {
                                                        color: "#40E0D0",  //文字颜色
                                                        fontSize: 10,   //文字大小
                                                        lineHeight: 20,  //间距
                                                        align: "center"  //文字居中
                                                      },
                                                      per: {
                                                        color: "#FF6A6A",  //百分比文字颜色
                                                        align: "center",
                                                        fontSize: 12
                                                      }
                                                    }
                                                  }
                                                },
                                                labelLine: {
                                                  normal: {
                                                    lineStyle: {
                                                      color: "#e2e8ed"  //指向线颜色
                                                    },
                                                    smooth: 0.2,  //线的拐弯程度
                                                  }
                                                },
                                            }
                                        }
                                    var itemChart = echarts.init(document.getElementById('echart1'));
                                    itemChart.setOption(option);
                                </script>
                            </div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row" name="footer">
            <div class = "col-md-12 text-center" style="background-color:ghostwhite">
                <small>
                    欢迎使用
                </small>
            </div>
        </div>
    </div>
</body>
</html>
