<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>历史记录</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='pic.svg') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='jquery/jquery-3.3.1.js') }}"></script>
    <script src="{{url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{url_for('static', filename='echarts/dist/echarts.min.js') }}"></script>
</head>
<body>
{% for message in get_flashed_messages() %}
    <div class="alert">
        {{ message }}
    </div>
{% endfor %}

    <div class="container" style="width: 80%">
        <div class="row" name="nav">
            <div class = "col-md-12" style="background-color:white;">
                <nav class="navbar navbar-default" style="margin-bottom:5px;margin-top:10px" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://127.0.0.1:5000/">首页</a>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">更多</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row" name="main">
            <div class = "col-md-2" style="background-color:white;height: 300px">

                <nav class="navbar navbar-default" id="sidebar-wrapper" role="navigation">
                  <ul class="nav sidebar-nav">
                    <li class="sidebar-brand">
                    <li>
                      <a href="http://127.0.0.1:5000/"><span class="glyphicon glyphicon-upload"></span>识别图片</a>
                    </li>
                    <li><a href="http://127.0.0.1:5000/history-filename"><span class="glyphicon glyphicon-repeat"></span>历史记录 </a></li>
                  </ul>
                </nav>
            </div>
            <div class = "col-md-10" style="background-color:white; ">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        历史记录
                    </div>
                    <div class="panel-body" id="lcq">
                        {% block content %}
                        {% if session.filenames %}
                        {% for filename in session.filenames %}
                        <a href="{{ url_for('get_picture', filename=filename) }}" target="_blank" style="float:left;margin-bottom:20px;margin-right: 20px">
                            <img src="{{ url_for('get_picture', filename=filename) }}" width="400px" height="250px">
                        </a>
                        {% endfor %}
                        {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" name="footer">
            <div class = "col-md-12 text-center" style="background-color:ghostwhite">
                <small>
                    欢迎使用
                </small>
            </div>
        </div>
    </div>
</body>
</html>